<?xml version="1.0" encoding="utf-8"?>
<!--
  Per ulteriori informazioni sulla configurazione dell'applicazione ASP.NET, visitare
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <pages>
      <controls>
        <add tagPrefix="tylde" src="~/usercontrols/home.ascx" tagName="home" />
        <add tagPrefix="tylde" src="~/usercontrols/azienda.ascx" tagName="azienda" />
        <add tagPrefix="tylde" src="~/usercontrols/produzione.ascx" tagName="produzione" />
        <add tagPrefix="tylde" src="~/usercontrols/works.ascx" tagName="works" />
        <add tagPrefix="tylde" src="~/usercontrols/comingsoon.ascx" tagName="comingsoon" />
        <add tagPrefix="tylde" src="~/usercontrols/corsi.ascx" tagName="corsi" />
        <add tagPrefix="tylde" src="~/usercontrols/riferimenti.ascx" tagName="riferimenti" />
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime />
  </system.web>
  <system.webServer>
    <staticContent>
      <!--<mimeMap fileExtension=".svg" mimeType="image/svg+xml" />-->
    </staticContent>
  </system.webServer>
</configuration>